
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# env
Env

#Reports files
report
Screenshots
tests-results
tests/AlertPdf
tests/downloads
tests/ReportPDF
tests/Trend
tests/Trend Download
tests/Trend PDF Download
tests/TrendReports

